flask
flask-cors
openai
anthropic
python-dotenv
chromadb
gunicorn
PyPDF2
python-docx
python-pptx
pdfminer.six
bcrypt
PyJWT
werkzeug
requests
Pillow
safetensors
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
--extra-index-url https://download.pytorch.org/whl/cu121
tesseract
transformers
open_clip_torch
ftfy
regex
tqdm
scipy
faiss-gpu==1.7.4
pytesseract
pdf2image
pymupdf
Wand
cairosvg
accelerate
# GPU optimization packages
nvidia-ml-py3
