flask
flask-cors
openai
anthropic
python-dotenv
chromadb
gunicorn
PyPDF2
python-docx
python-pptx
pdfminer.six
bcrypt
PyJWT
werkzeug
requests
Pillow
safetensors
torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu121
tesseract
transformers
open_clip_torch
ftfy
regex
tqdm
scipy
faiss-gpu-cu12
pytesseract
pdf2image
pymupdf
Wand
cairosvg
accelerate
wand
cairosvg
# GPU optimization packages
nvidia-ml-py3
